<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1>Bem vindo, {{nome}}</h1>

<table class="table table-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Tipo</th>
    </tr>
    {% for p in lista %}
    <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{p[1]}}</td>
        {% if p[2] == 1 %}
        <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLinkAdm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Administrador
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkAdm">
    <a class="dropdown-item disabled" href="#">Administrador</a>
    <a class="dropdown-item" href="/mudar_tipo/{{p[0]}}/2">Gerente</a>
    <a class="dropdown-item" href="/mudar_tipo/{{p[0]}}/3">Trabalhdor</a>
  </div>
</div></td>
        {% elif p[2] == 2 %}
        <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLinkGer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Gerente
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkGer">
    <a class="dropdown-item" href="/mudar_tipo/{{p[0]}}/1">Administrador</a>
    <a class="dropdown-item disabled" href="#">Gerente</a>
    <a class="dropdown-item" href="/mudar_tipo/{{p[0]}}/3">Trabalhdor</a>
  </div>
</div></td>
        {% elif p[2] == 3 %}
        <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLinkTrab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Trabalhador
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkTrab">
    <a class="dropdown-item" href="/mudar_tipo/{{p[0]}}/1">Administrador</a>
    <a class="dropdown-item" href="/mudar_tipo/{{p[0]}}/2">Gerente</a>
    <a class="dropdown-item disabled" href="#">Trabalhdor</a>
  </div>
</div></td>
        {% else %}
        <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLinkSemTipo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sem Tipo
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkSemTipo">
    <a class="dropdown-item" href="/mudar_tipo/{{p[0]}}/1">Administrador</a>
    <a class="dropdown-item" href="/mudar_tipo/{{p[0]}}/2">Gerente</a>
    <a class="dropdown-item" href="/mudar_tipo/{{p[0]}}/3">Trabalhdor</a>
  </div>
</div></td>
        {% endif %}
    {% endfor %}
    </tr>
</table>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>